.dart_tool/
.packages
build/
coverage/
artifacts/
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore
.env
.env.*
.DS_Store

*.iml
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
